<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @request.title %>
</p>

<p>
  <strong>Applier:</strong>
  <%= @request.applier %>
</p>

<p>
  <strong>Filepath:</strong>
  <%= @request.filepath %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @request.reason %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
